<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
  <key>NSBluetoothAlwaysUsageDescription</key>
  <string>Iris uses Bluetooth for nearby peer discovery and connections when an app requests Bluetooth features.</string>
  <key>CFBundleURLTypes</key>
  <array>
    <dict>
      <key>CFBundleTypeRole</key>
      <string>Editor</string>
      <key>CFBundleURLName</key>
      <string>htree</string>
      <key>CFBundleURLSchemes</key>
      <array>
        <string>htree</string>
      </array>
    </dict>
  </array>
</dict>
</plist>
