node_modules/
**/node_modules/
.DS_Store
tmp/
dist/
**/dist/
coverage/
**/coverage/
target/
**/target/
**/build/
**/.gradle/
**/test-results/
**/playwright-report/
**/.env.release.local
**/.env.zapstore.local
pnpm-debug.log*
*.tsbuildinfo
